# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
./thoughsAndPrayers.txt
./server/config
./server/node_modules

npm-debug.log*